* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.btn {
  background: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4CE2FF));
  background: linear-gradient(0deg, #1eacc7 0%, #4CE2FF 100%);
  -webkit-box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
          box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  outline: none;
}

.btn-small {
  position: relative;
  margin: 0 auto;
  width: 112px;
  height: 24px;
  padding: 1px 12px 10px;
  font-weight: 300;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  z-index: 2;
}

.black {
  background-color: #000000;
  color: #ffffff;
  border: 3px solid rgba(0, 0, 0, 0);
}

.black:hover {
  color: #000000;
  background-color: #ffffff;
  border: 3px solid black;
  font-weight: 600;
}

.white {
  background-color: #ffffff;
  color: #000000;
  border: 3px solid rgba(255, 255, 255, 0);
}

.white:hover {
  color: #ffffff;
  background-color: #000000;
  border: 3px solid white;
  font-weight: 600;
}

.h2 {
  position: relative;
  margin: 38px auto 0;
  color: #222222;
  font-size: 38px;
  line-height: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  z-index: 2;
}

.h3 {
  position: relative;
  margin: 10px auto 0;
  color: #222222;
  font-size: 19px;
  font-weight: 400;
  text-align: center;
  z-index: 2;
}

.h2-white, .h3-white {
  color: #ffffff;
}

/** First Screen **/
/** Navigation **/
header {
  height: 50px;
  position: relative;
}

header nav {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #212121;
  z-index: 5;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 13px 70px;
  list-style-type: none;
}

.menu li:nth-child(odd) {
  margin: 0;
  padding: 0;
}

.menu li:nth-child(even) {
  padding: 0 65px;
  border-right: 3px black dotted;
  border-left: 3px black dotted;
}

.menu li a {
  text-decoration: none;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 15px;
  font-weight: 300;
}

.menu li:last-child {
  border-right: none;
}

.hamburger {
  display: none;
}

/** Logo and Contacts **/
.header-contacts {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
}

.header-contacts__logo {
  display: block;
  max-width: 100%;
  margin-top: 16px;
}

.header-contacts__tagline {
  color: #FFFFFF;
  opacity: 0.5;
  font-size: 13px;
  font-weight: 400;
  margin-top: 6px;
}

.header-contacts__call {
  margin-top: 19px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 300;
  text-align: right;
}

.header-contacts__phone {
  display: block;
  margin-top: 8px;
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  line-height: 12px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: right;
}

.header-contacts__phone:hover {
  color: #ffffff;
}

.btn.btn-top {
  width: 172px;
  height: 46px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  margin-top: 20px;
}

/** First Screen - Basic Content **/
.top {
  min-height: 800px;
  background: url(../img/background_1.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 150px 0 135px 0;
}

.top h1 {
  color: #ffffff;
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 60px;
  margin: 0;
  text-align: center;
}

.top h2 {
  color: #ffffff;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-top: 22px;
  text-align: center;
}

.top__descr {
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  margin-top: 23px;
}

.btn.btn-bottom {
  width: 259px;
  height: 63px;
  display: block;
  margin: 118px auto 0 auto;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
}

/** Second Screen - 8 Reasons **/
.reasons {
  padding: 71px 0 65px 0;
}

.reasons h2 {
  margin: 38px auto 0;
  color: #222222;
  font-size: 38px;
  line-height: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.reason__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 26px;
}

.reason__img img {
  max-width: 116px;
  max-height: 116px;
}

.reason-item {
  width: 343px;
}

.reason-item .reason__title {
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  color: #1eacc7;
}

.reason-item .reason__descr {
  font-weight: 300;
  font-size: 15px;
  line-height: 21px;
  color: #000000;
}

.reason-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 35px;
}

/** Third Screen - Mobile App **/
.mobile {
  padding: 48px 0 79px 0;
  min-height: 864px;
  background: url(../img/mobile_app.png) center center/cover no-repeat;
}

.mobile h2 {
  margin: 38px auto 0;
  color: #222222;
  font-size: 38px;
  line-height: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.mobile h3 {
  margin: 10px auto 0;
  color: #222222;
  font-size: 19px;
  font-weight: 400;
  text-align: center;
}

.mobile .row {
  margin-top: 32px;
}

.mobile-item {
  position: relative;
  width: 320px;
  height: 280px;
  margin: 0 auto 19px;
  padding-top: 92px;
}

.mobile-item-1 {
  background: url(../img/image_3_1.jpg) center center/cover no-repeat;
}

.mobile-item-2 {
  background: url(../img/image_3_2.jpg) center center/cover no-repeat;
}

.mobile-item-3 {
  background: url(../img/image_3_3.jpg) center center/cover no-repeat;
}

.mobile-item-4 {
  background: url(../img/image_3_4.jpg) center center/cover no-repeat;
}

.mobile-item-5 {
  background: url(../img/image_3_5.jpg) center center/cover no-repeat;
}

.mobile-item-6 {
  background: url(../img/image_3_6.jpg) center center/cover no-repeat;
}

.mobile-item_descr {
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.mobile-item_plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 35px;
  left: 45%;
  width: 26px;
  height: 26px;
  background: #000000;
  margin: 0 auto;
  border-radius: 50%;
  cursor: pointer;
}

.mobile-item_plus::before {
  content: '';
  display: block;
  width: 14px;
  height: 2px;
  background-color: #1eacc7;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

.mobile-item_plus::after {
  content: '';
  position: absolute;
  left: 45%;
  display: block;
  width: 2px;
  height: 14px;
  background-color: #1eacc7;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

.mobile-item_plus:hover::before, .mobile-item_plus:hover::after {
  background-color: #ff5656;
}

/** Fourth Screen - Uber X **/
.uberx {
  position: relative;
  min-height: 895px;
  padding: 57px 0 138px 0;
  background: url(../img/mobile_app.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.uberx h2 {
  position: relative;
  margin: 38px auto 0;
  color: #ffffff;
  font-size: 38px;
  line-height: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  z-index: 2;
}

.uberx h3 {
  position: relative;
  margin: 10px auto 0;
  color: #ffffff;
  font-size: 19px;
  font-weight: 400;
  text-align: center;
  z-index: 2;
}

.uberx__img {
  position: relative;
  display: block;
  margin: 56px auto 0 auto;
  z-index: 2;
}

.uberx__descr {
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  color: #222222;
  text-align: center;
}

.uberx-black {
  position: absolute;
  top: 0;
  left: 0;
  height: 499px;
  width: 100%;
  background-color: #070716;
  z-index: 1;
}

/** Fivth Screen - Conditions **/
.conditions {
  padding: 68px 0 84px 0;
}

.conditions h2 {
  position: relative;
  margin: 38px auto 0;
  color: #000000;
  font-size: 38px;
  line-height: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  z-index: 2;
}

.conditions__wrapper {
  margin: 33px 0;
}

.conditions__wrapper__nmb {
  margin-bottom: 0px;
}

.conditions__title {
  font-size: 22px;
  font-weight: 400;
  color: #1ca8c3;
}

.conditions__list {
  list-style-type: none;
  padding-left: 50px;
  margin-top: 22px;
}

.conditions__list li {
  position: relative;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 10px;
}

.conditions__list li::before {
  content: url("../icons/check_blue.svg");
  display: inline-block;
  width: 21px;
  height: 20px;
  position: absolute;
  top: 2px;
  left: -25px;
}

.conditions__annotation {
  margin-top: 25px;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  color: #1ca8c3;
}

.conditions .warning .conditions__title {
  color: #ff5656;
}

.conditions .warning .conditions__list li::before {
  content: url("../icons/check_red.svg");
}

/** Sixth Screen - Map and Links **/
.map {
  position: relative;
  min-height: 717px;
  padding: 49px 0;
  background: url(../img/map.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.all-cities {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 49px;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 68px;
  text-transform: uppercase;
  color: #1fbad6;
  text-decoration: none;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

.all-cities:hover {
  color: #ffffff;
}

/** Footer **/
footer {
  padding: 14px 23px 10px 23px;
}

footer a {
  text-decoration: none;
}

.footer_divider {
  width: 299px;
  height: 4px;
  background-color: #1fbad6;
  margin: 0 auto;
}

.footer_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 32px;
}

.footer_social {
  width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 32px;
}

.footer_social_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 4px;
  width: 32px;
  height: 32px;
  background-color: #070716;
  border-radius: 50%;
}

.footer_links {
  width: 390px;
  margin: 0 auto;
  padding-top: 32px;
}

.footer_links_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer_links_main a {
  color: #070716;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
}

.footer_links_sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

.footer_links_sub a {
  color: #999999;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
}

.footer_links_lang {
  display: block;
  margin: 0 auto;
  color: #1fbad6;
  font-size: 11px;
  font-weight: 400;
  margin-top: 19px;
  text-transform: uppercase;
  text-align: center;
}

.footer_links p {
  text-align: center;
  margin-top: 15px;
  font-size: 13px;
}

.footer_mobile {
  padding-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer_mobile a {
  padding-right: 15px;
}

.fa-facebook-f, .fa-twitter, .fa-linkedin, .fa-instagram {
  color: #fff;
}

@media (max-width: 1200px) {
  .menu {
    margin: 0;
    padding: 13px 50px;
  }
  .menu li:nth-child(odd) {
    margin: 0;
    padding: 0;
  }
  .menu li:nth-child(even) {
    padding: 0 40px;
  }
  .menu li a {
    font-size: 12px;
  }
  .top h1 {
    font-size: 50px;
  }
  .top h2 {
    font-size: 30px;
  }
  .mobile-item {
    width: 300px;
  }
  .footer_mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 30px;
  }
  .footer_mobile a {
    padding-bottom: 8px;
  }
  .footer_links {
    width: 350px;
  }
}

@media (max-width: 991px) {
  .menu {
    margin: 0;
    padding: 13px 30px;
  }
  .menu li:nth-child(odd) {
    margin: 0;
    padding: 0;
  }
  .menu li:nth-child(even) {
    padding: 0 18px;
  }
  .menu li a {
    font-size: 14px;
  }
  .header-contacts__logo img {
    width: 100%;
  }
  .header-contacts__phone {
    font-size: 20px;
    line-height: 22px;
  }
  .top h1 {
    font-size: 45px;
  }
  .top h2 {
    font-size: 30px;
  }
  .btn.btn-top {
    width: 142px;
    height: 40px;
    margin-top: 22px;
  }
  .btn.btn-bottom {
    width: 189px;
    height: 48px;
    font-size: 16px;
  }
  .h2 {
    font-size: 30px;
  }
  .reason-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .reason__img {
    margin-bottom: 10px;
  }
  .reason-item {
    width: 343px;
  }
  .reason-item .reason__title {
    text-align: center;
    margin-bottom: 10px;
  }
  .reason-item .reason__descr {
    text-align: center;
  }
  .mobile-item {
    width: 320px;
    padding: 62px 0 0 0;
  }
  .uberx {
    min-height: 800px;
  }
  .uberx__img {
    width: 100%;
  }
  .map {
    min-height: 650px;
  }
  .all-cities {
    margin-top: 358px;
  }
  .footer_links {
    width: 310px;
  }
  .footer_mobile {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .menu {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.9);
    -webkit-transition: left 0.6s ease;
    transition: left 0.6s ease;
  }
  .menu_active {
    left: 0;
  }
  .menu li:nth-child(even) {
    padding: 0;
    border: none;
  }
  .menu li {
    margin: 10px 0;
    padding: 5px 0;
  }
  .menu li a {
    display: block;
    font-size: 20px;
    line-height: 35px;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
  }
  .menu li a:hover, .menu li a:focus {
    color: #1eacc7;
  }
  .menu_item {
    width: 100%;
    text-align: center;
  }
  .header-contacts__phone {
    font-size: 18px;
    line-height: 20px;
  }
  .btn.btn-top {
    float: right;
    margin-top: 10px;
  }
  .top h1 {
    font-size: 40px;
  }
  .top h2 {
    font-size: 26px;
  }
  .top__descr {
    font-size: 16px;
  }
  .reason-item {
    width: 500px;
  }
  .reason-item .reason__title {
    font-size: 22px;
    font-size: 22px;
  }
  .reason-item .reason__descr {
    font-size: 18px;
    line-height: 21px;
  }
  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 26px;
    height: 12px;
  }
  .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 2px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .hamburger_active span:first-child {
    -webkit-transform: rotate(-45deg) translateX(-3px);
            transform: rotate(-45deg) translateX(-3px);
  }
  .hamburger_active span:last-child {
    -webkit-transform: rotate(45deg) translateX(-3px);
            transform: rotate(45deg) translateX(-3px);
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .mobile {
    padding: 40px 0;
  }
  .uberx {
    min-height: 600px;
    padding: 40px 0;
  }
  .conditions {
    padding: 40px 0;
  }
  .map {
    min-height: 450px;
  }
  .all-cities {
    margin-top: 228px;
  }
  .footer_social {
    margin: 0 auto;
  }
  .footer_links {
    margin: 0 auto;
  }
  .footer_mobile {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 575px) {
  header nav {
    height: 50px;
  }
  .header-contacts {
    height: 60px;
  }
  .header-contacts__tagline {
    display: none;
  }
  .header-contacts__logo {
    margin-top: 17px;
  }
  .header-contacts__phone {
    margin-top: 5px;
    font-size: 14px;
    line-height: 16px;
    padding-right: 5px;
  }
  .btn.btn-top {
    padding: 3px 9px;
    width: 120px;
    height: 28px;
    font-size: 13px;
    margin-top: 5px;
  }
  .menu {
    width: 100%;
  }
  .menu li a {
    font-size: 18px;
  }
  .top {
    min-height: 400px;
    padding: 93px 0 35px 0;
  }
  .top h1 {
    font-size: 30px;
    line-height: 32px;
  }
  .top h2 {
    margin-top: 25px;
    font-size: 20px;
    line-height: 20px;
  }
  .top__descr {
    display: none;
  }
  .btn.btn-bottom {
    margin-top: 50px;
    width: 150px;
    height: 40px;
    font-size: 14px;
  }
  .h2 {
    font-size: 20px;
    margin: 28px auto 0;
  }
  .h3 {
    font-size: 18px;
  }
  .reason-item {
    width: 300px;
    padding: 10px 0;
  }
  .reason-item .reason__title {
    font-size: 18px;
    font-size: 20px;
  }
  .reason-item .reason__descr {
    font-size: 15px;
    line-height: 17px;
  }
  .reason__img {
    margin: 0 auto 10px;
  }
  .reason__img img {
    width: 80px;
    height: 80px;
  }
  .mobile {
    padding: 20px 0 40px 0;
  }
  .mobile .row {
    margin-top: 30px;
  }
  .mobile-item {
    width: 300px;
    height: 240px;
    padding: 81px 0 0 0;
  }
  .mobile-item_descr {
    font-size: 20px;
    line-height: 31px;
  }
  .mobile_plus {
    bottom: 28px;
  }
  .uberx {
    padding: 25px 0 33px 0;
    min-height: 390px;
    background: #000000;
  }
  .uberx__img {
    margin-top: 35px;
  }
  .uberx__descr {
    margin-top: 23px;
    color: #ffffff;
    font-size: 17px;
    font-weight: 300;
    line-height: 24px;
  }
  .uberx-black {
    display: none;
  }
  .hidden-320 {
    display: none;
  }
  .conditions {
    padding: 25px;
  }
  .conditions__wrapper {
    margin: 30px 0 0 0;
  }
  .conditions__title {
    font-size: 16px;
  }
  .conditions__list {
    font-size: 14px;
    margin-bottom: 5px;
    line-height: 20px;
  }
  .map {
    min-height: 360px;
    padding: 25px 0;
  }
  .all-cities {
    width: 200px;
    display: block;
    bottom: 30px;
    line-height: 15px;
  }
  .footer_divider {
    width: 250px;
    margin: 0 auto;
  }
  .footer_social {
    padding-top: 12px;
  }
  .footer_mobile {
    margin-left: 20px;
    padding-bottom: 20px;
  }
  .footer_mobile a {
    padding: 0 5px;
  }
  .footer_mobile a img {
    width: 100%;
  }
  .footer_links {
    width: 300px;
  }
  .footer_links_main {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer_links_main a {
    padding: 0 5px;
  }
  .footer_links_sub {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer_links_sub a {
    padding: 0 5px;
  }
  .footer_links_lang {
    margin-top: 10px;
  }
}
